body {
    background-color: #000;
    font-size: 2.5vmin;
}

.col {
    position: absolute;
    text-align: center;
    color: #222;
    transform-style: preserve-3d;
    height: 0;
}

.box-wrapper {
    position: relative;
    width: 1.6em;
    perspective-origin: 0 0;
    height: 1.8em;
    margin: 1.4em 0; /* 1.4em 0; */
    transform-style: preserve-3d;
    xvisibility: hidden;
    opacity: .05;
    animation: spinBack 2s;
    transition: all 10s ease;
    outline: 1px solid transparent;
}

.box-wrapper:hover {
    animation: spinY 3s infinite linear;
}

.box-wrapper:hover .box div {
    background: #ffe500;
    box-shadow: inset 0px 0px .6em #fff;
}

.box-wrapper.active .box div {
    background: #000;
}

.box-wrapper.active:hover .box div {
    opacity: 0;
}

.box-wrapper.active:hover .box .top {
    xbackground: #f00;
    transform: rotateX(-90deg) translateZ(-10em);
}

.box-wrapper.active:hover .box .front {
    xbackground: #0f0;
    transform: translateZ(10em);
}

.box-wrapper.active:hover .box .right {
    xbackground: #00f;
    transform: rotateY(-270deg) translateX(1em) translateZ(10em);
}

.box-wrapper.active:hover .box .bottom {
    xbackground: #ff0;
    transform: rotateX(90deg) translateZ(-10em);
}

.box-wrapper.active:hover .box .back {
    xbackground: #0ff;
    transform: translateZ(-10em) rotateY(180deg);
}

.box-wrapper.active:hover .box .left {
    xbackground: #f0f;
    transform: rotateY(270deg) translateX(-1em) translateZ(10em);
}

.exploded .box div {
    opacity: 0;
}

.exploded .box .top {
    transform: rotateX(-90deg) translateZ(-10em);
}

.exploded .box .front {
    transform: translateZ(10em);
}

.exploded .box .right {
    transform: rotateY(-270deg) translateX(1em) translateZ(10em);
}

.exploded .box .bottom {
    transform: rotateX(90deg) translateZ(-10em);
}

.exploded .box .back {
    transform: translateZ(-10em) rotateY(180deg);
}

.exploded .box .left {
    transform: rotateY(270deg) translateX(-1em) translateZ(10em);
}

.box {
    position: relative;
    width: 1em;
    height: 1em;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg);
    padding: 0.3em 0.6em;
    perspective-origin: 0 0;
    outline: 1px solid transparent;
}
.box p {
    padding: 40px 0;
}
.box div {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #ff0;
    box-shadow: inset -0.3em -0.3em .6em #844A00;
    border-radius: 0.15em;
    transition: all .3s ease;
    outline: 1px solid transparent;
}

.top {
    transform: rotateX(-90deg);
    transform-origin: top center;
    color: #f00;
}

.front {
    color: #0f0;
}

.right {
    transform: rotateY(-270deg) translateX(1em);
    transform-origin: top right;
    color: #00f;
}

.bottom {
    transform: rotateX(90deg);
    transform-origin: bottom center;
    color: #f00;
}

.back {
    transform: translateZ(-1em) rotateY(180deg);
    color: #0f0;
}

.left {
    transform: rotateY(270deg) translateX(-1em);
    transform-origin: center left;
    color: #00f;
}


@keyframes spinBack {
    from { transform: rotateY(-180deg); }
    to { transform: rotateY(0); }
}

@keyframes spinY {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
}

@keyframes spinX {
    from { transform: rotateX(0); }
    to { transform: rotateX(360deg); }
}

@keyframes spinZ {
    from { transform: rotateZ(0); }
    to { transform: rotateZ(360deg); }
}

.spinX {
    animation: spinX 10s infinite ease;
}

.spinBack {
    animation: spinBack 1s;
}

.spinY {
    animation: spinY 10s infinite ease;
}

.spinZ {
    animation: spinZ 10s infinite ease;
}

.spinAll {
    animation: spinX 10s infinite ease, spinY 10s infinite ease, spinZ 10s infinite ease;
}


.artull .col:nth-child(15) .box-wrapper:nth-child(3),
.artull .col:nth-child(16) .box-wrapper:nth-child(3),
.artull .col:nth-child(14) .box-wrapper:nth-child(4),
.artull .col:nth-child(16) .box-wrapper:nth-child(4),
.artull .col:nth-child(18) .box-wrapper:nth-child(4),
.artull .col:nth-child(20) .box-wrapper:nth-child(4),
.artull .col:nth-child(21) .box-wrapper:nth-child(3),
.artull .col:nth-child(22) .box-wrapper:nth-child(3),
.artull .col:nth-child(20) .box-wrapper:nth-child(3),
.artull .col:nth-child(18) .box-wrapper:nth-child(3),
.artull .col:nth-child(14) .box-wrapper:nth-child(3),
.artull .col:nth-child(12) .box-wrapper:nth-child(3),
.artull .col:nth-child(10) .box-wrapper:nth-child(3),
.artull .col:nth-child(9) .box-wrapper:nth-child(3),
.artull .col:nth-child(8) .box-wrapper:nth-child(4),
.artull .col:nth-child(10) .box-wrapper:nth-child(4),
.artull .col:nth-child(12) .box-wrapper:nth-child(4),
.artull .col:nth-child(9) .box-wrapper:nth-child(4),
.artull .col:nth-child(11) .box-wrapper:nth-child(4),
.artull .col:nth-child(13) .box-wrapper:nth-child(4),
.artull .col:nth-child(15) .box-wrapper:nth-child(4),
.artull .col:nth-child(17) .box-wrapper:nth-child(4),
.artull .col:nth-child(16) .box-wrapper:nth-child(5),
.artull .col:nth-child(12) .box-wrapper:nth-child(5),
.artull .col:nth-child(8) .box-wrapper:nth-child(5),
.artull .col:nth-child(13) .box-wrapper:nth-child(2),
.artull .col:nth-child(15) .box-wrapper:nth-child(2),
.artull .col:nth-child(17) .box-wrapper:nth-child(2),
.artull .col:nth-child(19) .box-wrapper:nth-child(2),
.artull .col:nth-child(21) .box-wrapper:nth-child(2),
.artull .col:nth-child(26) .box-wrapper:nth-child(2),
.artull .col:nth-child(27) .box-wrapper:nth-child(1),
.artull .col:nth-child(28) .box-wrapper:nth-child(2),
.artull .col:nth-child(20) .box-wrapper:nth-child(5),
.artull .col:nth-child(22) .box-wrapper:nth-child(5),
.artull .col:nth-child(19) .box-wrapper:nth-child(5),
.artull .col:nth-child(4) .box-wrapper:nth-child(5),
.artull .col:nth-child(2) .box-wrapper:nth-child(5),
.artull .col:nth-child(3) .box-wrapper:nth-child(5),
.artull .col:nth-child(10) .box-wrapper:nth-child(2),
.artull .col:nth-child(8) .box-wrapper:nth-child(2),
.artull .col:nth-child(11) .box-wrapper:nth-child(1)
{
    visibility: visible;
    opacity: 1;
}

.artull {
    transition: all 1s ease;
    transform: translateX(0);
}

.artull.pristine {
    transform: translateX(-100%);
}